<div class="list">
    <div class="add">
        <a href="" ng-click="addTodo()">Add task</a>
    </div>
    <div class="item" ng-class="{'edited': todo.edited, 'completed': todo.completed}"
         ng-repeat="todo in todos | orderBy: 'completed'" ng-init="todo.completed = false">
        <input ng-model="todo.completed" type="checkbox"/>
        <label ng-hide="editing">{{todo.name}}</label>
        <input ng-change="todo.edited = true" ng-blur="editing=false;"
               ng-show="editing" ng-model="todo.name" class="editing-label" type="text"/>

        <div class="actions" align="right">
            <a href="" ng-click="editing=!editing" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span>     edit
            </a>
            <a href="" ng-click="saveTodo(todo)" class="btn btn-success">
                <span class="glyphicon glyphicon-save"></span>   save
            </a>
            <a href="" ng-click="deleteTodo(todo, $index)" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>   delete
            </a>
        </div>
    </div>
</div>